<div class="form-row">
    <div class="form-item form-item-no-grow">
        <% if (book.coverImage) { %>
            <img width="100" height="150" src="<%= book.coverImagePath %>">
        <% } %> 
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Title</label>
        <input type="text" name="title" value="<%= book.title %>">
    </div>

    <div class="form-item">
        <label>Author</label>
        <select name="author">
            <% authors.forEach(author => { %>
                <% if (book.author) { %>
                    <% if (author.name == book.author.name) { %>
                        <option selected label="<%= author.name %>" value="<%= author.id %>"></option>
                    <% } else { %>
                        <option label="<%= author.name %>" value="<%= author.id %>"></option>
                    <% } %>
                <% } else { %>
                    <option label="<%= author.name %>" value="<%= author.id %>"></option>
                <% } %>
            <% }) %>
        </select>
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Publish Date</label>
        <input type="date" name="publishDate" value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
    </div>
    
    <div class="form-item">
        <label>Page Count</label>
        <input type="number" name="pageCount" min="1" value="<%= book.pageCount %>">
    </div>
</div>

<div class="form-row">    
    <div class="form-item form-item-no-grow">
        <label>Cover</label>
        <input type="file" name="cover" class="filepond"> <!-- Cover항목에 FilePond를 적용하기 위해 class="filepond" 추가 -->
    </div>
    
    <div class="form-item">
        <label>Description</label>
        <textarea name="description"><%= book.description %></textarea>
    </div>
</div>
